 .btn1{
    border:none;
    color: black;
    background-color: blue;
    padding:7px 20px;
    margin:10px;
    border-radius:10px  ;
}
.btn2{
    border:none;
    color:green;
    background-color: rgb(219, 44, 13);
    padding:7px 20px;
    margin:10px;
    border-radius:10px  ;
}
.photo{
    width:150px;
    margin:40px;
}
em{

    border:1px solid black;
}
